{
	"presets": [
		"@babel/preset-env",
		"@babel/preset-react",
		"@babel/preset-typescript"
		// "@salesforce/babel-preset-design-system-react"
	],
	"plugins": [
		"@babel/plugin-proposal-class-properties"
	]
}